<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature_demo" >
    <application>

        <activity android:name=".DemoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".AloneActivity"
            android:process=":alonedemo"
            android:theme="@style/Theme.AppCompat"
            />
        <activity android:name=".ProviderPNumberActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".demoSurfaceView.CircularSViewActivity"/>
        <activity android:name=".demoSurfaceView.MySurfaceViewActivity"/>

        <service android:name=".service.DomeService"/>
        <receiver android:name=".MyReceiver">
        </receiver>

        <!-- 向外共享数据的Provider 增删改查,对外共享：android:exported="true" -->
        <provider
            android:authorities="com.gpsidemo.person"
            android:name=".PersonContentProvider"
            />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 读取联系人权限 -->
    <uses-permission   android:name="android.permission.READ_CONTACTS"/>

</manifest>
