<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature_demo" >
    <application>

        <activity android:name=".DemoActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity android:name=".AloneActivity"
            android:process=":alonedemo"
            />
        <activity android:name=".ProviderPNumberActivity"/>

        <service android:name=".service.DomeService"/>
        <receiver android:name=".MyReceiver">
        </receiver>



    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>
